@charset "UTF-8";

/* 回答はここに書いてね */

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.text_box {
  width: 225px;
  box-sizing: border-box;
  font-size: 16px;
}

.q7_float {
  float: left;
  margin-left: 50px;
}

.q7_float:first-child {
  margin-left: 0;
}

.table_container {
  display: table;
}

.table_element {
  display: table-cell;
  vertical-align: middle;
  padding-left: 50px;
  /* width: 100%; ⇦last childにpaddingを追加する為不要*/
}

.table_element:first-child {
  padding-left: 0;
}

.inline-block_container {
  font-size: 0;
  /* 自動で付くdiv同士の空白を詰める */
}

.inline {
  display: inline-block;
  vertical-align: middle;
  margin-left: 50px;
}

.inline:first-child {
  margin-left: 0;
}

.flex_box {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.inline_margin {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  /* 親要素でfont-size:0にしたため改めて文字サイズを設定 */
}

.q7_left {
  width: 300px;
}

.q7_right {
  /* width: calc(100% - 350px); ←width:100%、box sizing:border-boxと同じ動作*/
  width: 100%;
  box-sizing: border-box;
  margin-left: -300px;
  padding-left: 350px;
}

/* 回答はここに書いてね */
