@charset "UTF-8";

/* 回答はここに書いてね */

.hoge {
  background-color: #e6f2ff;
  width: 90px;
  padding: 10px 0;
}

.text_align_box {
  text-align: center;
}

.text_align {
  display: inline-block;
}

.text_margin {
  text-align: center;
  margin: 0 auto;
}

.q6_tables {
  display: table;
}

.q6_table_element {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.white_box {
  background-color: #fff;
  padding: 10px;
  display: inline-block;
}

.q6_flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fixed_container {
  position: relative;
}

.fixed {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.transform_container {
  position: relative;
}

.transform {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 回答はここに書いてね */
